@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<GummiBearKingdom.Models.Section>
<h1>Welcome to the Kingdom of Bear Gummis!</h1>
<hr />

<h2>We will serve you the best of Gummi Bear!!</h2>
<hr />

<div class="world">
    <img src="../Images/world.jpg"/>
</div>
<hr />

<h3>Please click below to the product list or section list you would like to explore: </h3>

<div class="col-xs-6">
    <button class="btn btn-default">@Html.ActionLink("View all sections", "Index", "Sections")</button><br />
</div>
<div class="col-xs-6">
    <button class="btn btn-default">@Html.ActionLink("View all products", "Index", "Products")</button><br />
</div><br /><br />

<hr /><h4>
    <em>Thank you for visiting our site!!!</em>
</h4>



